

.app{
    display: flex;
    flex-direction: column;
}

.display{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
